@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'square_sans_serif';
    src: url('../fonts/square_sans_serif.ttf') format('opentype');
    font-weight: normal;
}

:root {
    --cor1:#D6D58E;
    --cor2:#DBF227;
    --cor3:#9FC131;
    --cor4:#005C53;
    --cor5:#042940;

    --fonte-padrao: Arial, verdana, helvetica, sans-serif;
    --fonte-titulos: 'square_sans_serif', arial, Helvetica, sans-serif;
    --fonte-texto: 'roboto', arial, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

    body {
        background-color: var(--cor1);
        background-attachment: fixed;
        font-family: var(--fonte-padrao) ;
        font-size: 20px;
        text-align: justify;
    }

    header {
        background-image: linear-gradient(to bottom, var(--cor5) , var(--cor4));
        margin: 0px;
    }

    header >h1 {
        font-family: var(--fonte-titulos) ;
        font-weight: 700;
        font-size: 70px;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        text-shadow: 4px 2px 7px #042940c2;
    }

    header >h1 >a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    header> nav {
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.767);
        background-image: linear-gradient(to left, var(--cor2), var(--cor4)75%);
        background-attachment: fixed;
    }

    nav{
        text-decoration: none;
        padding-left: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 30px;
    }

    nav >a {
        text-align: left;
        font-family: var(--fonte-texto);
        font-weight: bold;
        text-decoration: none;
        color: #FFFFFF;
        margin-right: 20px;
        padding: 7px;
        transition-duration: 300ms;
        text-shadow: 1px 1px 5px black;
    }

    nav > a:hover{
        background-color: var(--cor1);
        color: var(--cor4);
        border-radius: 4px;
    }

    main {
        background-color: #ffffff;
        margin: auto;
        margin-bottom: 40px;
        min-width: 320px;
        max-width: 950px;
        padding: 15px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.849);
    }

    main> section {
        padding: 6px;
    }

    section >h2 {
        font-family: var(--fonte-titulos);
        background-image: linear-gradient(to right, var(--cor3) , transparent);
        color: var(--cor4);
        font-size: 32px;
        font-weight: 800;
        padding: 6px;
        margin-bottom: 25px;
    }

    section >article >p {
        font-size: 22px;
        text-indent: 30px;
        line-height: 30px;
    }

    main strong {
        color: var(--cor3);
        background-color: #d6d58eb7;
        padding: 2px;
        border-radius: 4px;
    }

    main> section> article> picture#intel> img {
        max-width: 650px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 15px black;
        display: block;
        border-radius: 6px;
    }
    main> section> article> picture#pc> img {
        min-width: 50%;
        margin: auto;
        display: block;
    }

    main> section> article> picture#notebook> img {
        min-width: 70%;
        margin: auto;
        display: block;
    }

    div.video{
        background-color: var(--cor4);
        margin-bottom: 30px;
        margin-top: 30px;
        margin-left: -20px;
        margin-right: -20px;
        padding: 10px;
        padding-bottom: 58.4%;

        position: relative;
    }

    div.video> iframe {

        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
    }

    main> aside {
        background-color: var(--cor3);
        padding: 10px;
        border-radius: 20px;
        font-family: var(--fonte-texto);
        margin: 35px;
        text-align: center;
        box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.267);
    }

    main> aside> h3 {
        background-image: linear-gradient(to right, var(--cor5), var(--cor4));
        text-align: center;
        font-family: var(--fonte-titulos);
        color: black;
        font-weight: 200;
        font-size: 25px;
        margin: -10px -10px 10px -10px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 10px;
    }

    main> aside> ul {
        list-style-type: '\1F4E1\00A0\00A0' ;
        list-style-position: inside;
        columns: 2;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    main> aside> ul> li> abbr {
        text-decoration: none;
    }

    main> aside> ul> li> abbr> a {
        text-decoration: none;
        color: white;
        font-family: var(--fonte-texto);
    }

    main> aside> ul> li> abbr> a:hover { 
        color: var(--cor5);
        text-decoration: underline;
        transition-duration: 300ms;
    }

    footer{
        font-family: var(--fonte-padrao);
        background-color: #000000;
        margin: 0px;
        padding: 2px;
        font-size: 15px;
    }

    footer> p {
        color: white;
        text-align: center;
    }

    footer> p> a {
        text-decoration: none;
        color: white;
    }

    footer> p> a:hover {
        color: var(--cor2);
    }